{erl_opts, [debug_info]}.
{deps, [
 {keccak,    ".*", {git, "https://github.com/cirka/keccak.git", {branch,"master"}}},
 {ecrecover, ".*", {git, "https://github.com/cirka/ecrecover.git", {branch,"master"}}},
 {erlp,      ".*", {git, "https://github.com/cirka/erlp.git", {branch,"master"}}},
 {lager,     ".*", {git, "https://github.com/basho/lager.git", {branch,"master"}}},
 {gun,       ".*", {git, "https://github.com/ninenines/gun", {branch,"master"}}},
 {jiffy,     ".*", {git, "https://github.com/davisp/jiffy.git", {branch,"master"}}}

]}.
